<!DOCTYPE html>
<html lang="en">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <head>
   	<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Technical Creed provides top-notch support services, including IT support, customer service, and technical assistance, ensuring your business operates smoothly and efficiently.">
    <meta name="keywords" content="Technical Creed, support services, IT support, customer service, technical assistance, business support, technical support, help desk services, business solutions">
    <meta property="og:title" content="Technical Creed - Expert Support Services for Your Business">
    <meta property="og:description" content="Technical Creed offers reliable and comprehensive support services to keep your business running efficiently.">
    <meta property="og:image" content="URL_to_your_logo_or_image.jpg">
    <meta property="og:url" content="https://www.technicalcreed.com">
    <meta property="og:type" content="website">
    <title>{% block title %}Home || TechnicalCreed{% endblock %}</title>
    <link rel="icon" href="/assets/technical_creed_v3/img/core-img/logo.webp" />
    {{ include_style("technical_creed.bundle.css") }}

    <script>
      window.frappe = {};
      frappe.ready_events = [];
      frappe.ready = function(fn) {
        frappe.ready_events.push(fn);
      }
      window.dev_server = {{ dev_server }};
      window.socketio_port = {{ (frappe.socketio_port or 'null') }};
      window.show_language_picker = {{ show_language_picker or 'false' }};
    </script>

  </head>
  <body class="darker">
    {% block header %}   
     {% include "/templates/includes/header.html" %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
    {% include "/templates/includes/footer.html" %}
    {% endblock %}
   {% block base_scripts %}
   <!-- js should be loaded in body! -->
   <script>
     frappe.boot = {{ boot }}
     // for backward compatibility of some libs
     frappe.sys_defaults = frappe.boot.sysdefaults;
   </script>
   {{ include_script('frappe-web.bundle.js') }}
   {% endblock %}
 
   {%- for link in web_include_js %}
   {{ include_script(link) }}
   {%- endfor -%}
 
   {%- block script %}
     {% if colocated_js -%}
       <script>{{ colocated_js }}</script>
     {%- endif %}
   {%- endblock %}
   <!-- csrf_token -->
   {%- block body_include %}{{ body_include or "" }}{% endblock -%}
     
 </body>

  <!--  All JS  -->
    <!-- script js -->
        <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include WOW.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <!-- Your custom script -->
    <script src="/assets/technical_creed_v3/js/script.js"></script>
</html>
