{% extends "templates/base-web.html" %}
{% block title %}About Us || TechnicalCreed{% endblock %}
{% block content %}

    <!-- Welcome Area Start -->
    <div class="breadcumb-area">
      <!-- breadcumb content -->
      <div class="breadcumb-content">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <nav aria-label="breadcrumb" class="breadcumb--con text-center">
                <h2 class="w-text title wow fadeInUp" data-wow-delay="0.2s">
                  About us
                </h2>
                <ol
                  class="bg-none breadcrumb justify-content-center wow fadeInUp"
                  data-wow-delay="0.4s"
                >
                  <li class="breadcrumb-item"><a href="#" class="anchor-link">Home</a></li>
                  <li class="breadcrumb-item w-text active" aria-current="page">
                    About us
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Welcome Area End -->

    <!-- About Us Area Start -->
    <section class="about-us-area section-padding-100-0 clearfix" id="about">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6 offset-lg-0 mt-s">
            <div class="who-we-contant">
              <div class="dream-dots text-left fadeInUp" data-wow-delay="0.2s">
                <span class="gradient-text">
                  About Our IT Technology Agency.</span
                >
              </div>
              <h4 class="fadeInUp w-text" data-wow-delay="0.3s">
                Creative IT Technology & Cloud Computing Solutions.
              </h4>
              <p class="fadeInUp" data-wow-delay="0.4s">
                Technical Creed" encapsulates the fundamental beliefs and principles guiding individuals and organizations
          in the field of technology. It emphasizes values such as innovation, integrity, collaboration, and
          continuous learning, while also promoting ethical considerations, user well-being, and adaptability to
          evolving technologies. In essence, it serves as a moral compass, shaping attitudes and behaviors to ensure
          responsible and ethical use of technology for the betterment of society.
              </p>
              <p class="fadeInUp" data-wow-delay="0.5s">
                 Technical Creed" encapsulates the fundamental beliefs and principles guiding individuals and organizations
          in the field of technology. It emphasizes values such as innovation, integrity, collaboration, and
          continuous learning, while also promoting ethical considerations, user well-being, and adaptability to
          evolving technologies. In essence, it serves as a moral compass, shaping attitudes and behaviors to ensure
          responsible and ethical use of technology for the betterment of society.
              </p>

              <div class="row">
                <div class="col-sm-12">
                  <div class="side-feature-list-item">
                    <img
                      src="/assets/technical_creed_v3/img/icons/f1.webp"
                      class="check-mark-icon"
                      alt=""
                    />
                    <div class="foot-c-info ">
                      Velit ducimus voluptatibus neque illo
                    </div>
                  </div>
                  <div class="side-feature-list-item">
                    <img
                      src="./assets/technical_creed_v3/img/icons/f2.webp"
                      class="check-mark-icon"
                      alt=""
                    />
                    <div class="foot-c-info">
                      nisi Ut ut felis congue nisl hendrerit
                    </div>
                  </div>
                  <div class="side-feature-list-item">
                    <img
                      src="./assets/technical_creed_v3/img/icons/f3.webp"
                      class="check-mark-icon"
                      alt=""
                    />
                    <div class="foot-c-info">
                      Affordable Packages &amp; Detailed Results
                    </div>
                  </div>
                  <div class="side-feature-list-item">
                    <img
                      src="./assets/technical_creed_v3/img/icons/f1.webp"
                      class="check-mark-icon"
                      alt=""
                    />
                    <div class="foot-c-info">
                      amet consectetur adipisicing elit
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 offset-lg-0 col-md-12">
            <div class="welcome-meter">
              <img
                draggable="false"
                class="floating"
                src="./assets/technical_creed_v3/img/core-img/img1.webp"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Us Area End -->

    <!-- About Us Area Start -->
    <section class="about-us-area section-padding-100 clearfix" id="about">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-4 offset-lg-0 col-md-6">
            <div class="welcome-meter">
              <img draggable="false" src="./assets/technical_creed_v3/img/core-img/img4.webp" alt="" />
            </div>
          </div>
          <div class="col-12 col-lg-4 offset-lg-0 mt-s">
            <div class="who-we-contant">
              <div class="dream-dots text-left fadeInUp" data-wow-delay="0.2s">
                <span class="gradient-text">Our Company Community</span>
              </div>
              <h4 class="fadeInUp w-text" data-wow-delay="0.3s">
                Top Technology and IT services with Our Agency..
              </h4>
              <img
                src="./assets/technical_creed_v3/img/svg/divider-01.svg"
                width="100"
                class="mt-15"
                alt="divider"
              />
            </div>
          </div>
          <div class="col-12 col-lg-4 offset-lg-0 mt-s">
            <div class="who-we-contant left-bor">
              <p>
               - At TecCreed, we believe in creating a work environment that fosters creativity, innovation, and collaboration. We are a team of passionate individuals who are committed to making a positive impact through our work.
              </p>
              <a
                class="btn more-btn mt-30 fadeInUp"
                data-wow-delay="0.6s"
                href="about-us.html"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Us Area End -->

    <!-- Team Area Start -->
    <section class="our_team_area section-padding-0-70 clearfix" id="team">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-heading text-center">
              <div
                class="dream-dots justify-content-center fadeInUp"
                data-wow-delay="0.2s"
              >
                <img
                  src="./assets/technical_creed_v3/img/svg/divider-01.svg"
                  width="100"
                  class="mb-15"
                  alt="divider"
                />
              </div>
              <h2 class="fadeInUp w-text" data-wow-delay="0.3s">Awesome Team</h2>
              <p class="fadeInUp" data-wow-delay="0.4s">
                Meet the brilliant minds behind TecCreed, dedicated to empowering businesses for success in today’s digital world. With a passion for excellence and innovative solutions, our team is here to support your journey forward.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Single Team Member -->
          {% for row in rows %}
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-team-member fadeInUp" data-wow-delay="0.4s">
              <!-- Image -->
              <div class="team-member-thumb">
                <img
                  draggable="false"
                  src="{{ row.image }}"
                  class="center-block"
                  alt=""
                />
              </div>
              <!-- Team Info -->
              <div class="team-info">
                <h5 class="w-text">{{row.member_name }}</h5>
                <p class="g-text">{{row.designation }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- Team Area End -->

{% endblock %}