{% extends "templates/base-web.html" %}

{% block content %}

    <!-- Welcome Area Start -->
    <section class="hero-section de-3 section-padding" id="home">
      <!-- Hero Content -->
      <div class="hero-section-content">
        <div class="container">
          <div class="row align-items-center">
            <!-- Welcome Content -->
            <div class="col-12 col-lg-6 col-md-12">
              <div class="welcome-content">
                <h1 class="fadeInUp w-text" data-wow-delay="0.2s">
                  Comprehensive
                  <img class="heado-img" src="/assets/technical_creed_v3/img/core-img/head.png" alt="IT Solutions Icon" />
                  IT Solutions &amp; Cloud Technology Experts
                </h1>
                <img
                  src="/assets/technical_creed_v3/img/svg/divider-01.svg"
                  width="100"
                  class="mb-30"
                  alt="divider"
                />
                <p class="w-text fadeInUp" data-wow-delay="0.3s">
                  At Technical Creed, we empower businesses with cutting-edge IT solutions and cloud technology. Our expertise drives digital transformation and optimizes your operations for peak performance.
                </p>
                <div class="dream-btn-group fadeInUp" data-wow-delay="0.4s">
                  <a class="btn more-btn" href="contact-us.html">Get in Touch</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="floating">
                <img src="/assets/technical_creed_v3/img/core-img/img3.png" alt="Cloud Technology Illustration" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Welcome Area End -->

    <div class="clearfix"></div>

    <section class="darky how section-padding-100-70">
      <div class="container">
        <div class="section-heading text-center">
          <div
            class="dream-dots justify-content-center wow fadeInUp"
            data-wow-delay="0.2s"
          >
            <img
              src="/assets/technical_creed_v3/img/svg/divider-01.svg"
              width="100"
              class="mb-15"
              alt="divider"
            />
          </div>
          <h2 class="wow fadeInUp w-text" data-wow-delay="0.3s">
            Our Company Services
          </h2>
          <p
            class="wow fadeInUp"
            data-wow-delay="0.4s"
            style="
              visibility: visible;
              animation-delay: 0.4s;
              animation-name: fadeInUp;
            "
          >
          We provide comprehensive support to streamline your business operations and enhance customer satisfaction through our expert IT and cloud solutions.

          </p>
        </div>
        <div class="row">
        {% for code in codes %}
          <div class="col-12 col-md-6 col-lg-6">
            <!-- Content -->
            <a
              class="service_single_content grediant-borders box-shadow text-left wow fadeInUp"
              data-wow-delay="0.2s"
              href="services.html"
            >
              <!-- Icon -->
              <div class="service_icon v2">
                <img
                  draggable="false"
                  src="{{code.image}}"
                  class="white-icon"
                  alt=""
                />
              </div>
              <div class="service_content">
                <h6 class="w-text">{{code.title}}</h6>
                <p>
                  {{code.description}}
                </p>
              </div>
            </a>
          </div>
        {%endfor%} 
        </div>
      </div>
    </section>

    <!-- About Us Area Start -->
    <section class="about-us-area section-padding-0-0 clearfix" id="about">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-4 offset-lg-0 col-md-6">
            <div class="welcome-meter">
              <img draggable="false" src="/assets/technical_creed_v3/img/core-img/img4.png" alt="" />
            </div>
          </div>
          <div class="col-12 col-lg-4 offset-lg-0 mt-s">
            <div class="who-we-contant">
              <div class="dream-dots text-left fadeInUp" data-wow-delay="0.2s">
                <span class="gradient-text">Our Company Community</span>
              </div>
              <h4 class="fadeInUp w-text" data-wow-delay="0.3s">
                Leading IT Solutions and Cloud Technology Services.
              </h4>
              <img
                src="/assets/technical_creed_v3/img/svg/divider-01.svg"
                width="100"
                class="mt-15"
                alt="divider"
              />
            </div>
          </div>
          <div class="col-12 col-lg-4 offset-lg-0 mt-s">
            <div class="who-we-contant left-bor">
              <p>
                At Technical Creed, we specialize in delivering cutting-edge IT solutions and cloud technology services. Our dedicated team supports your business by providing seamless customer service  technology solutions tailored to your needs.
              </p>
              <a
                class="btn more-btn fadeInUp"
                data-wow-delay="0.6s"
                href="about-us.html"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  About Us Area End  -->

    <!--  About Us Area Start  -->
    <section class="about-us-area section-padding-100-0 clearfix" id="about">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6 offset-lg-0 mt-s">
            <div class="who-we-contant">
              <div class="dream-dots text-left fadeInUp" data-wow-delay="0.2s">
                <span class="gradient-text">
                  About Our IT Technology Agency.</span
                >
              </div>
              <h4 class="fadeInUp w-text" data-wow-delay="0.3s">
                Innovative IT & Cloud Computing Solutions for Your Business.
              </h4>
              <p class="fadeInUp" data-wow-delay="0.4s">
                At Technical Creed, we are committed to driving your business forward with our comprehensive IT and cloud computing solutions. Our creative approach and technical expertise ensure that we deliver results that exceed expectations.

              </p>
              <p class="fadeInUp" data-wow-delay="0.5s">
                With a focus on customer satisfaction and a passion for technology, we help you navigate the complexities of the digital landscape.

              </p>
              <div class="row">
                <div class="col-sm-12">
                  <div class="side-feature-list-item">
                    <img
                      src="/assets/technical_creed_v3/img/icons/f1.png"
                      class="check-mark-icon"
                      alt=""
                    />
                    <div class="foot-c-info">
                      Expert IT Consulting & Support
                    </div>
                  </div>
                  <div class="side-feature-list-item">
                    <img
                      src="/assets/technical_creed_v3/img/icons/f2.png"
                      class="check-mark-icon"
                      alt=""
                    />
                    <div class="foot-c-info">
                      Customizable Solutions Tailored to Your Needs
                    </div>
                  </div>
                  <div class="side-feature-list-item">
                    <img
                      src="/assets/technical_creed_v3/img/icons/f3.png"
                      class="check-mark-icon"
                      alt=""
                    />
                    <div class="foot-c-info">
                      Affordable Pricing & Comprehensive Results
                    </div>
                  </div>
                </div>
              </div>
              <a
                class="btn more-btn mt-30 fadeInUp"
                data-wow-delay="0.6s"
                href="#"
                >Read More</a
              >
            </div>
          </div>
          <div class="col-12 col-lg-6 offset-lg-0 col-md-12">
            <div class="welcome-meter">
              <img
                draggable="false"
                class="floating"
                src="/assets/technical_creed_v3/img/core-img/img1.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  About Us Area End  -->
    <!--  Facts Start  -->
    <div class="section-padding-100-0" >
      <div class="container pre-sale-bg">
        <div class="section-heading text-center">
          <div
            class="dream-dots justify-content-center fadeInUp"
            data-wow-delay="0.2s"
          >
            <span class="gradient-text white">Numbers Are Talking</span>
          </div>
          <h2 class="w-text">Our Agency Facts</h2>
          <p class="w-text">
            At Technical Creed, our success is measured by the numbers that reflect our commitment to excellence and the satisfaction of our clients. Explore some key statistics about our agency below:

          </p>
        </div>
        <div class="row align-items-center" id="fact">
          <div class="col-12">
            <div class="fact-box count-box col-lg-3 col-xs-12">
              <div class="inner">
                <div class="icon-box">
                  <img src="/assets/technical_creed_v3/img/icons/fact1.png" alt="" />
                </div>
                <div class="content">
                  <div class="count-outer">
                    <span class="count-text counter">327</span>
                  </div>
                  <div class="counter-title">Happy Clients</div>
                </div>
              </div>
            </div>

            <div class="fact-box count-box col-lg-3 col-xs-12 fact-box-xs">
              <div class="inner">
                <div class="icon-box">
                  <img src="/assets/technical_creed_v3/img/icons/fact2.png" alt="" />
                </div>
                <div class="content">
                  <div class="count-outer">
                    <span class="count-text counter">3041</span>
                  </div>
                  <div class="counter-title">Projects Taken</div>
                </div>
              </div>
            </div>

            <div class="fact-box count-box col-lg-3 col-xs-12 fact-box-sm">
              <div class="inner">
                <div class="icon-box">
                  <img src="/assets/technical_creed_v3/img/icons/fact3.png" alt="" />
                </div>
                <div class="content">
                  <div class="count-outer">
                    <span class="count-text counter">23</span>
                  </div>
                  <div class="counter-title">Awards Won</div>
                </div>
              </div>
            </div>

            <div class="fact-box count-box col-lg-3 col-xs-12 fact-box-sm">
              <div class="inner">
                <div class="icon-box">
                  <img src="/assets/technical_creed_v3/img/icons/fact4.png" alt="" />
                </div>
                <div class="content">
                  <div class="count-outer">
                    <span class="count-text counter">940</span>
                  </div>
                  <div class="counter-title">Secured Devices</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="Projects section-padding-100">
      <div class="container">
        <div class="row align-items-center mb-50">
          <div class="col-12 col-lg-6 offset-lg-0">
            <div class="who-we-contant">
              <h4 class="fadeInUp w-text" data-wow-delay="0.3s">
                Our Creative Projects
              </h4>
              <img src="./assets/technical_creed_v3/img/svg/divider-01.svg" width="100" alt="divider" />
            </div>
          </div>
          <div class="col-12 col-lg-6 offset-lg-0 mt-s">
            <div class="who-we-contant left-bor">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at
                dictum risus, non suscipit arcu. Quisque aliquam posuere tortor,
                sit amet convallis nunc scelerisque in Quisque aliquam posuere.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-6">
            <!-- Content -->
            <div class="project_single wow fadeInUp" data-wow-delay="0.2s">
              <div class="project_img">
                <img src="./assets/technical_creed_v3/img/projects/1.jpg" class="img-responsive" alt="" />
              </div>
              <div class="project_info">
                <h4 class="w-text">
                  IT Check and <br />
                  Cloud Managment
                </h4>
                <p>Security Testing</p>
                <a href="project-details.html" class="anchor-link"
                  >Full Case Study<span><i class="fa fa-arrow-right"></i></span
                ></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <!-- Content -->
            <div class="project_single wow fadeInUp" data-wow-delay="0.3s">
              <div class="project_img">
                <img src="./assets/technical_creed_v3/img/projects/2.jpg" class="img-responsive" alt="" />
              </div>
              <div class="project_info">
                <h4 class="w-text">
                  System Security <br />
                  and Development
                </h4>
                <p>Development</p>
                <a href="project-details.html" class="anchor-link"
                  >Full Case Study<span><i class="fa fa-arrow-right"></i></span
                ></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <!-- Content -->
            <div class="project_single wow fadeInUp" data-wow-delay="0.2s">
              <div class="project_img">
                <img src="./assets/technical_creed_v3/img/projects/3.jpg" class="img-responsive" alt="" />
              </div>
              <div class="project_info">
                <h4 class="w-text">
                  Cloud Migration<br />
                  and Deployment
                </h4>
                <p>Blockchain</p>
                <a href="project-details.html" class="anchor-link"
                  >Full Case Study<span><i class="fa fa-arrow-right"></i></span
                ></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <!-- Content -->
            <div class="project_single wow fadeInUp" data-wow-delay="0.3s">
              <div class="project_img">
                <img src="./assets/technical_creed_v3/img/projects/4.jpg" class="img-responsive" alt="" />
              </div>
              <div class="project_info">
                <h4 class="w-text">
                  Network Security <br />
                  Cloud Computing
                </h4>
                <p>Networking</p>
                <a href="project-details.html" class="anchor-link"
                  >Full Case Study<span><i class="fa fa-arrow-right"></i></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- FAQ & Timeline Area Start -->
    <div class="faq-timeline-area section-padding-100-85" id="faq">
      <div class="container">
        <div class="section-heading text-center">
          <div
            class="dream-dots justify-content-center fadeInUp"
            data-wow-delay="0.2s"
          >
            <img
              src="/assets/technical_creed_v3/img/svg/divider-01.svg"
              width="100"
              class="mb-15"
              alt="divider"
            />
          </div>
          <h2 class="fadeInUp w-text" data-wow-delay="0.3s">Why Choose Us?</h2>
          <p class="fadeInUp" data-wow-delay="0.4s">
            We are the best to provide the services and will help you out to take all the stress of your business
          </p>
        </div>
        <div class="row align-items-center">
          <div
            class="col-12 col-lg-6 offset-lg-0 col-md-8 offset-md-2 col-sm-12"
          >
            <img
              draggable="false"
              src="/assets/technical_creed_v3/img/core-img/img2.png"
              alt=""
              class="center-block img-responsive"
            />
          </div>
          <div class="col-12 col-lg-6 col-md-12">
            <div class="dream-faq-area mt-s">
              <dl style="margin-bottom: 0">
                <!-- Single FAQ Area -->
                <dt class="wave fadeInUp" data-wow-delay="0.2s">
                  What are the objectives of this Agency?
                </dt>
                <dd class="fadeInUp" data-wow-delay="0.3s">
                  <p>
                    Our agency is committed to achieving several key objectives, including:Providing innovative IT solutions and cloud technology services.Offering dedicated support to our clients to enhance their business operations.
                  </p>
                </dd>
                <!-- Single FAQ Area -->
                <dt class="wave fadeInUp" data-wow-delay="0.3s">
                  What is the best features and services we deiver?
                </dt>
                <dd>
                  <p>
                    At Technical Creed, we pride ourselves on delivering top-notch features and services,Comprehensive administrative support to streamline your business processes.Efficient email support to manage communication channels effectively.
                  </p>
                </dd>
                <!-- Single FAQ Area -->
                <dt class="wave fadeInUp" data-wow-delay="0.4s">
                  Why this Company Service important to me?
                </dt>
                <dd>
                  <p>
                    Our company's services play a crucial role in addressing your business needs and challenges.We help alleviate the stress of managing IT and technology-related tasks.Our services ensure seamless operation and reliability of your digital systems.
                  </p>
                </dd>
                <!-- Single FAQ Area -->
                <dt class="wave fadeInUp" data-wow-delay="0.5s">
                  how may I take part in and purchase this Service?
                </dt>
                <dd>
                  <p>
                    Getting started with our services is simple and straightforward.Explore our website to learn more about our offerings and expertise.Contact us via phone, email, or our online inquiry form to discuss your requirements.
                  </p>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FAQ & Timeline Area End -->
    <!-- Team Area Start -->
    <section class="our_team_area section-padding-0-70 clearfix" id="team">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-heading text-center">
              <div
                class="dream-dots justify-content-center fadeInUp"
                data-wow-delay="0.2s"
              >
                <img
                  src="/assets/technical_creed_v3/img/svg/divider-01.svg"
                  width="100"
                  class="mb-15"
                  alt="divider"
                />
              </div>
              <h2 class="fadeInUp w-text" data-wow-delay="0.3s">Meet Our Team</h2>
              <p class="fadeInUp" data-wow-delay="0.4s">
                Our team consists of dedicated professionals who are passionate about delivering exceptional IT solutions and cloud technology services. 
              </p>
            </div>
          </div>
        </div>
        <div class="row team-row">
          <!-- Single Team Member -->
          {% for link in links %}
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-team-member fadeInUp" data-wow-delay="0.2s">
              <!-- Image -->
              <div class="team-member-thumb">
                <img
                  draggable="false"
                  src="{{ link.image }}"
                  class="center-block"
                  alt=""
                />
              </div>
              <!-- Team Info -->
              <div class="team-info">
                <h5 class="w-text">{{link.member_name }}</h5>
                <p class="g-text">{{link.designation }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- Team Area End -->
  {% endblock %}
