{% extends "templates/base-web.html" %}
{% block title %}Pricing || TechnicalCreed{% endblock %}
{% block content %}

    <!--  Welcome Area Start  -->
    <div class="breadcumb-area">
      <!-- breadcumb content -->
      <div class="breadcumb-content">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <nav aria-label="breadcrumb" class="breadcumb--con text-center">
                <h2 class="w-text title wow fadeInUp" data-wow-delay="0.2s">
                  Pricing
                </h2>
                <ol
                  class="bg-none breadcrumb justify-content-center wow fadeInUp"
                  data-wow-delay="0.4s"
                >
                  <li class="breadcrumb-item"><a href="#" class="anchor-link">Home</a></li>
                  <li class="breadcrumb-item w-text active" aria-current="page">
                    Pricing
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  Welcome Area End  -->

    <!--  pricing Area start  -->
    <section class="pricing section-padding-100-70">
      <div class="container">
        <div class="section-heading text-center">
          <div
            class="mb-15 justify-content-center fadeInUp"
            data-wow-delay="0.2s"
          >
            <span class="gradient-text blue">Pricing Plans</span>
          </div>
          <h2 class="d-blue bold fadeInUp w-text"  data-wow-delay="0.3s">
            Our Pricing Plans
          </h2>
          <p class="fadeInUp" data-wow-delay="0.4s">
            Select Any package Service and we will invite you on a meeting and will discuss about your project 
          </p>
        </div>

        <div class="row">
          <!-- Single Table -->
          {% for doc in docs %}
          <div class="col-lg-4 col-md-6">
            <div
              class="single_price_table_content grediant-borders text-center wow fadeInUp"
              data-wow-delay="0.2s">
              <div class="price_table_text">
                <h5 class="gradient-text cyan">{{ doc.packages }}</h5>
                <h1>{{ doc.amount }}</h1>
              </div>
              <div class="table_text_details">
                <p>{{ doc.description }}</p>
                
              </div>
              <div class="table_btn">
                <a href="#" class="btn more-btn mt-15">Start</a>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- Single Table -->
          
      </div>
    </section>
    <!--  pricing Area End  -->

    <!--  Team Area Start  -->
    <!-- <section class="our_team_area section-padding-0-70 clearfix" id="team">
      <div class="container">
        <div class="row">

          <div class="col-12">
            <div class="section-heading text-center">
              <div
                class="dream-dots justify-content-center fadeInUp"
                data-wow-delay="0.2s"
              >
                <img
                  src="/assets/technical_creed_v3/img/svg/divider-01.svg"
                  width="100"
                  class="mb-15"
                  alt="divider"
                />
              </div>
              <h2 class="fadeInUp w-text" data-wow-delay="0.3s">Awesome Team</h2>
              <p class="fadeInUp" data-wow-delay="0.4s">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Single Team Member -->
          {% for item in items %}
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-team-member fadeInUp" data-wow-delay="0.4s">
              <!-- Image -->
              <div class="team-member-thumb">
                <img
                  draggable="false"
                  src="{{ item.image }}"
                  class="center-block"
                  alt=""
                />
              </div>
              <!-- Team Info -->
              <div class="team-info">
                <h5 class="w-text">{{ item.member_name }}</h5>
                <p class="g-text">{{ item.designation }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section> -->
    <!--  Team Area End  -->

    {% endblock %}

   