{% extends "/templates/base-web.html" %}
{% block title %}Project Details || TechnicalCreed{% endblock %}
{% block content %}
    <!--  Welcome Area Start  -->
    <div class="breadcumb-area">
        <!-- breadcumb content -->
        <div class="breadcumb-content">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <nav aria-label="breadcrumb" class="breadcumb--con text-center">
                            <h2 class="w-text title wow fadeInUp" data-wow-delay="0.2s">Project Details</h2>
                            <ol class="bg-none breadcrumb justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                                <li class="breadcrumb-item"><a class="anchor-link" href="#">Home</a></li>
                                <li class="breadcrumb-item"><a class="anchor-link" href="#">Project</a></li>
                                <li class="breadcrumb-item w-text active" aria-current="page">Project Details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  Welcome Area End  -->
    <!--  Blog Area Start  -->
    <section class="blog-area section-padding-100-85">
        <div class="container">

            <div class="row">
                <div class="col-12 col-md-9">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="blog_thumbnail">
                            <img src="./assets/technical_creed_v3/img/projects/project-details.jpg" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="blog-content">
                            <h4 class="post-title w-text">Smart Contract Development</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad voluptas tempora inventore
                                minima consectetur fugit deserunt neque modi, culpa atque fugiat unde amet quidem, at
                                corrupti dignissimos repudiandae, totam sapiente.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita fugit eum doloribus
                                iste voluptatum perferendis dolorem qui! Vel magnam provident, laudantium voluptates
                                sit, sint iure sunt harum distinctio ab, aliquam est voluptas minus id explicabo illum
                                odio? Officia omnis minima similique, eveniet eos. Rem itaque laboriosam quas est omnis,
                                mollitia possimus eveniet. Veritatis nihil, aliquid quisquam, laborum quis ut rem
                                repellendus animi repellat, alias suscipit nostrum incidunt. Quis, quas.</p>
                            <blockquote>
                                <h5 class="w-text">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, vero excepturi
                                    repellendus quae ipsum. Cum totam cumque quis eveniet saepe nisi.</h5>
                                <span>- Nazrul, CEO OUR COMPANY</span>
                            </blockquote>
                            <div class="row">
                                <div class="col-lg-6">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur commodi
                                        expedita accusantium sapiente culpa rem vel voluptas soluta error adipisci
                                        doloremque corporis inventore molestias architecto, iusto tempora rerum.
                                        Molestias tempora possimus ea, corrupti dolor harum, alias eius fuga. Rem natus
                                        deserunt harum.</p>
                                </div>
                                <div class="col-lg-6">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi earum
                                        dolores sed pariatur molestias, aliquid eligendi, non consequatur quisquam
                                        repudiandae debitis numquam? Eligendi nostrum laborum, labore minima quaerat at
                                        eius tempora quos numquam dolores cum cupiditate voluptates necessitatibus, quis
                                        esse, ea.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 mt-s">
                    <div class="sidebar-area">
                        <!-- Don't Miss Widget -->
                        <div class="donnot-miss-widget mb-50">
                            <div class="widget-title wow fadeInUp" data-wow-delay="0.3s">
                                <h5 class="w-text">Don't miss Other Projects</h5>
                            </div>
                            <!-- Single Don't Miss Post -->
                            <div class="single-dont-miss-post mb-30 wow fadeInUp" data-wow-delay="0.4s">
                                <div class="dont-miss-post-thumb">
                                    <img src="./assets/technical_creed_v3/img/projects/2.jpg" alt="">
                                </div>
                                <div class="dont-miss-post-content">
                                    <a href='projects.html'>IT & Cloud Managment</a>
                                    <span>Nov 29, 2024</span>
                                </div>
                            </div>
                            <!-- Single Don't Miss Post -->
                            <div class="single-dont-miss-post mb-30 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="dont-miss-post-thumb">
                                    <img src="./assets/technical_creed_v3/img/projects/3.jpg" alt="">
                                </div>
                                <div class="dont-miss-post-content">
                                    <a href='projects.html'>System Security Steps</a>
                                    <span>March 29, 2024</span>
                                </div>
                            </div>
                            <!-- Single Don't Miss Post -->
                            <div class="single-dont-miss-post wow fadeInUp" data-wow-delay="0.6s">
                                <div class="dont-miss-post-thumb">
                                    <img src="./assets/technical_creed_v3/img/projects/4.jpg" alt="">
                                </div>
                                <div class="dont-miss-post-content">
                                    <a href='projects.html'>Top Cloud Deployment</a>
                                    <span>March 29, 2024</span>
                                </div>
                            </div>
                        </div>
                        <!-- Subscribe Widget -->
                        <div class="subscribe-widget">
                            <div class="widget-title wow fadeInUp" data-wow-delay="0.9s">
                                <h5 class="w-text">subscribe</h5>
                            </div>
                            <div class="subscribe-form wow fadeInUp" data-wow-delay="1s">
                                <form action="#">
                                    <input type="email" name="email" id="subs_email" placeholder="Your Email">
                                    <button type="submit" class="btn info-btn">subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Blog Area End  -->
{% endblock %}