{% extends "templates/base-web.html" %}
{% block title %} Project || TechnicalCreed{% endblock %}
{% block content %}

<!-- ✅ Welcome Area -->
<div class="breadcumb-area">
  <div class="breadcumb-content">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <nav aria-label="breadcrumb" class="breadcumb--con text-center">
            <h2 class="w-text title wow fadeInUp" data-wow-delay="0.2s">Projects</h2>
            <ol class="bg-none breadcrumb justify-content-center wow fadeInUp" data-wow-delay="0.4s">
              <li class="breadcrumb-item"><a href="./index.html" class="anchor-link">Home</a></li>
              <li class="breadcrumb-item w-text active" aria-current="page">Projects</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ✅ Project Title & Description -->
<section class="Projects section-padding-100">
  <div class="container">
    
    <!-- Top Section with Title and Description -->
    <div class="row align-items-center mb-50">
      {% if ptd and ptd[0] %}
        <div class="col-12 col-lg-6">
          <div class="who-we-contant">
            <h4 class="fadeInUp w-text" data-wow-delay="0.3s">{{ ptd[0].project_title }}</h4>
            <img src="./assets/technical_creed_v3/img/svg/divider-01.svg" width="100" alt="divider" />
          </div>
        </div>
        <div class="col-12 col-lg-6 mt-s">
          <div class="who-we-contant left-bor">
            <p>{{ ptd[0].projects_description }}</p>
          </div>
        </div>
      {% else %}
        <div class="col-12">
          <h4 class="text-center w-text">No Found Projects title and description</h4>
        </div>
      {% endif %}
    </div>

    <!-- Projects Cards Section -->
    <div class="row">
      {% if ptc %}
        {% for card in ptc %}
          <div class="col-12 col-lg-6">
            <div class="project_single wow fadeInUp" data-wow-delay="0.2s">
              <div class="project_img">
                <img src="{{ card.card_images }}" class="img-responsive" alt="" />
              </div>
              <div class="project_info">
                <h4 class="w-text">{{ card.project_title }}</h4>
                <p>{{ card.project_sub_desc }}</p>
                <a href="projectdetail.html" class="anchor-link">
                  {{ card.case_study }}<span><i class="fa fa-arrow-right"></i></span>
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
      <h1 style="color: aqua;">card data here dynamic</h1>
      {% endif %}
    </div> <!-- ✅ Closing div for project cards row -->
    
  </div> <!-- container -->
</section>



<!-- ✅ Company Community Section -->
<section class="about-us-area section-padding-0-0 clearfix" id="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-4 col-md-6">
        <div class="welcome-meter">
          <img draggable="false" src="./assets/technical_creed_v3/img/core-img/img4.webp" alt="" />
        </div>
      </div>
      <div class="col-12 col-lg-4 mt-s">
        <div class="who-we-contant">
          <div class="dream-dots text-left fadeInUp" data-wow-delay="0.2s">
            <span class="gradient-text">Our Company Community</span>
          </div>
          {% if community and community[0] %}
          <h4 class="fadeInUp w-text" data-wow-delay="0.3s">{{ community[0].community_title }}</h4>
          <img src="./assets/technical_creed_v3/img/svg/divider-01.svg" width="100" class="mt-15" alt="divider" />
        </div>
      </div>
      <div class="col-12 col-lg-4 mt-s">
        <div class="who-we-contant left-bor">
          <p>{{ community[0].community_description }}</p>
          <a class="btn more-btn mt-30 fadeInUp" data-wow-delay="0.6s" href="about-us.html">Read More</a>
        </div>
      </div>
      {% else %}
      <div class="col-12 text-center">
        <h4>No Community Data Found</h4>
      </div>
      {% endif %}
    </div>
  </div>
</section>

<!-- ✅ Team Area -->
<section class="our_team_area section-padding-100-70 clearfix" id="team">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center">
          <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
            <img src="./assets/technical_creed_v3/img/svg/divider-01.svg" width="100" class="mb-15" alt="divider" />
          </div>
          {% if team and team[0] %}
          <h2 class="fadeInUp w-text" data-wow-delay="0.3s">{{ team[0].team_title }}</h2>
          <p class="fadeInUp" data-wow-delay="0.4s">{{ team[0].team_description }}</p>
          {% else %}
          <h2 class="fadeInUp w-text" data-wow-delay="0.3s">Meet Our Team</h2>
          <p class="fadeInUp" data-wow-delay="0.4s">Our talented team is ready to help you succeed.</p>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- ✅ Team Members -->
    <div class="row">
      {% for doc in docs %}
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-team-member fadeInUp" data-wow-delay="0.4s">
          <div class="team-member-thumb">
            <img draggable="false" src="{{ doc.image }}" class="center-block" alt="" />
          </div>
          <div class="team-info">
            <h5 class="w-text">{{ doc.member_name }}</h5>
            <p class="g-text">{{ doc.designation }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}