{% extends "/templates/base-web.html" %}
{% block title %} Services|| TechnicalCreed{% endblock %}
{% block content %}

    <!-- Welcome Area Start -->
    <div class="breadcumb-area">
        
        <!-- breadcumb content -->
        <div class="breadcumb-content">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <nav aria-label="breadcrumb" class="breadcumb--con text-center">
                            <h2 class="w-text title wow fadeInUp" data-wow-delay="0.2s">Services</h2>
                            <ol class="bg-none breadcrumb justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                                <li class="breadcrumb-item"><a class="anchor-link" href="#">Home</a></li>
                                <li class="breadcrumb-item w-text active" aria-current="page">Services</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Welcome Area End -->

    <section class="darky how section-padding-100-70">
        <div class="container">

            <div class="section-heading text-center">
                
                <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                    <img src="./assets/technical_creed_v3/img/svg/divider-01.svg" width="100" class="mb-15" alt="divider">
                </div>
                <h2 class="wow fadeInUp w-text" data-wow-delay="0.3s">Our Company Services</h2>
                <p class="wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">- TecCreed can help you become more digitally independent. We offer specialized and dedicated services that will help your business grow. Our team is driven by passion and determination to go above and beyond your standards and open up new opportunities for success.</p>
            </div>
            <div class="row">
              {% for code in codes %}
                <div class="col-12 col-md-6 col-lg-6">
                  <!-- Content -->
                  <a
                    class="service_single_content grediant-borders box-shadow text-left wow fadeInUp"
                    data-wow-delay="0.2s"
                    href="services.html"
                  >
                    <!-- Icon -->
                    <div class="service_icon v2">
                      <img
                        draggable="false"
                        src="{{code.image}}"
                        class="white-icon"
                        alt=""
                      />
                    </div>
                    <div class="service_content">
                      <h6 class="w-text">{{code.title}}</h6>
                      <p>
                        {{code.description}}
                      </p>
                    </div>
                  </a>
                </div>
                {% endfor %}
              </div>
        </div>
    </section>

    <!-- Facts Start -->
    <div class="section-padding-0-0" >
        <div class="container pre-sale-bg">
            <div class="section-heading text-center">
            
                <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                    <span class="gradient-text white">Numbers Are Talking</span>
                </div>
                <h2 class="w-text">Our Agency Facts</h2>
                <p class="w-text">- TecCreed can help you become more digitally independent. We offer specialized and dedicated services that will help your business grow. Our team is driven by passion and determination to go above and beyond your standards and open up new opportunities for success.</p>
            </div>
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="fact-box count-box col-lg-3 col-xs-12">
                      <div class="inner">
                       <div class="icon-box"><img src="./assets/technical_creed_v3/img/icons/fact1.webp" alt=""></div>
                          <div class="content">
                              <div class="count-outer">
                                  <span class="count-text counter">327</span>
                              </div>
                              <div class="counter-title">Happy Clients</div>
                          </div>
                      </div>
                    </div>

                    <div class="fact-box count-box col-lg-3 col-xs-12 fact-box-xs">
                      <div class="inner">
                       <div class="icon-box"><img src="./assets/technical_creed_v3/img/icons/fact2.webp" alt=""></div>
                          <div class="content">
                              <div class="count-outer">
                                  <span class="count-text counter">3041</span>
                              </div>
                              <div class="counter-title">Projects Taken</div>
                          </div>
                      </div>
                    </div>

                    <div class="fact-box count-box col-lg-3 col-xs-12 fact-box-sm">
                      <div class="inner">
                       <div class="icon-box"><img src="./assets/technical_creed_v3/img/icons/fact3.webp" alt=""></div>
                          <div class="content">
                              <div class="count-outer">
                                  <span class="count-text counter">23</span>
                              </div>
                              <div class="counter-title">Awards Won</div>
                          </div>
                      </div>
                    </div>

                    <div class="fact-box count-box col-lg-3 col-xs-12 fact-box-sm">
                      <div class="inner">
                       <div class="icon-box"><img src="/assets/technical_creed_v3/img/icons/fact4.webp" alt=""></div>
                          <div class="content">
                              <div class="count-outer">
                                  <span class="count-text counter">940</span>
                              </div>
                              <div class="counter-title"> Secured Devices</div>
                          </div>
                      </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <section class="darky how section-padding-0-70">

        <div class="container">

            <div class="section-heading text-center">
                
                <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                    <img src="/assets/technical_creed_v3/img/svg/divider-01.svg" width="100" class="mb-15" alt="divider">
                </div>
                <h2 class="wow fadeInUp w-text" data-wow-delay="0.3s">How it works</h2>
                <p class="wow fadeInUp" data-wow-delay="0.4s">- TecCreed can help you become more digitally independent. We offer specialized and dedicated services that will help your business grow. Our team is driven by passion and determination to go above and beyond your standards and open up new opportunities for success.</p>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content v3 box-shadow text-center mb-100 wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <img draggable="false" src="/assets/technical_creed_v3/img/icons/5.webp" class="white-icon" alt="">
                            <span class="step-num">1</span>
                        </div>
                        <h6 class="w-text">Who Are We</h6>
                        <p>We are a support company. We take all the customer stress by helping you in the term of Support and will handle all of your customers. Help them from making the purchase to Solve any specific problem. .</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content v3 box-shadow text-center mb-100 wow wow fadeInUp" data-wow-delay="0.3s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <img draggable="false" src="/assets/technical_creed_v3/img/icons/6.webp" class="white-icon" alt="">
                            <span class="step-num">2</span>
                        </div>
                        <h6 class="w-text">Our Mission</h6>
                        <p>Our Mission is “Stress Free Business” This will take a lot of efforts and we will help our clients to take Stress Free and Focus on Growing their own business. We will handle the current/ New customers and will help them to in any matter. </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content v3 box-shadow text-center mb-100 wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <img draggable="false" src="/assets/technical_creed_v3/img/icons/7.webp" class="white-icon" alt="">
                            <span class="step-num">3</span>
                        </div>
                        <h6 class="w-text">What We Do </h6>
                        <p>We are a support company. We take all the customer stress by helping you in the term of Support and will handle all of your customers. Help them from making the purchase to Solve any specific problem. .</p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

{% endblock %}